In [ ]:
#importing Libraries
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt

First of all I am importing all the necessary libraries


sklearn for kNN model

pandas for data read & manipulation

matplotlib for plotting the data points

In [ ]:
from google.colab import files
files.upload()

Saving KNN.csv to KNN.csv

{'KNN.csv': b'Student,GRE Score,IELTS Score,Admission\r\nRafi,315,7,No\r\nTania,322,8,Yes\r\nMumu,309,6,No\r\nSadia,325,8.5,Yes\r\nZahid,305,5.5,No\r\nBadhan,305,7,No\r\nShreya,322,7.5,Yes\r\nNayan,301,6.5,No\r\nBayejid,312,6.5,No\r\nTamanna,318,7.5,Yes\r\nTanvir,321,8,Yes\r\nSaidul,301,7.5,No\r\nRaju,302,6.5,No\r\nNishat,315,8.5,Yes\r\nMim,323,8.5,Yes\r\nPial,325,6,No\r\n'}

Uploading files as csv format

In [ ]:
df = pd.read_csv('KNN.csv')
df.head()

  Student  GRE Score  IELTS Score Admission
0    Rafi        315          7.0        No
1   Tania        322          8.0       Yes
2    Mumu        309          6.0        No
3   Sadia        325          8.5       Yes
4   Zahid        305          5.5        No

Here I am reading the data from csv file and assign it in df(data frame) and displaying the data table

In [ ]:
df.columns

Index(['Student', 'GRE Score', 'IELTS Score', 'Admission'], dtype='object')

Her we can see that ther are 4 individual columns where Students, GRE Score, IELTS Score are input Labels and Admission Label.

In [ ]:
# divide into input and output Values
x = df.iloc [:,[1,2]].values
y = df.iloc [:,3].values

Here I declared variable X to take input values and Variable Y to take result values. I am using iloc operator to do so.
 iloc operator will specify the input and result column from the data frame.

column 1 and 2 is respectively GRE Score & IELTS Score column goes as input and column 3 is Admission Column goes as result

In [ ]:
# Divide into traning and testing data
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=41)

Here I split the data using train_test_split function of model_selection library from Sklearn package. It takes 4 variables as output which I have named as:

x_train – Input Training data

x_test – Input Testing data

y_train – Output Training data

y_test – Output testing data

In [ ]:
# Normalization using min max scaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

Here I have scaled the X-axis and Y-axis into a common range from 0 to 1 and printed the table

We use fit_transform() on the train data so that we learn the parameters of scaling on the train data and in the same time we scale the train data. We only use transform() on the test data because we use the scaling paramaters learned on the train data to scale the test data.

In [ ]:
model = KNeighborsClassifier(n_neighbors = 3)

Her I am calling the KNN model KNeighborsClassifier from sklearn.neighbors and passing the value K=3

In [ ]:
# fitting the model
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

Fitting a model means to make our algorithm learn the relationship between features and targets so that we can predict the future values of the outcome.

In [ ]:
#predict the result
y_pred = model.predict(x_test)
y_pred

array(['Yes', 'Yes', 'Yes', 'No'], dtype=object)

predicting the testing dataset by giving the input test values

In [ ]:
y_test

array(['Yes', 'Yes', 'Yes', 'No'], dtype=object)

Dispalying the actual test values to compare the predicted values and actual test values

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

1.0

Here I am checking the eccuracy score of our model.

In [ ]:
# Final prediction
Xnew = [[327,7.5]]
ynew = model.predict(Xnew)

All set. Now we can give GRE Score and IELTS Score as input to the model for predicting the Admission result.

From the assignment question Student named Firoz having GRE Score = 327 and IELTS Score = 7.5 to predict the Admission result.

In [ ]:
# Final result
ynew

array(['Yes'], dtype=object)

Displaying the final result of the Student named Firoz.

                      --------------  Thank You -----------